<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Login</h1>
                <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'"></app-text-input>
                <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary mt-3" type="submit" [disabled]="loginForm.invalid">Sign In</button>
                  </div>
            </div>
        </form>
    </div>
</div>